@import '../../sass/main.scss';

.header{
    @include flex(row, space-between, center);
    height: 68px;
    max-width: 95%;
    margin: 0 auto;
    img{
        height: 68px;
        @media screen and (max-width: 767px){
            height: 47px;
        }
    }
}