@import '../../sass/main.scss';

.home_gallery{
    @include flex;
    flex-wrap: wrap;
    gap: 60px;
    background-color: $color-tertiary;
    padding:56px 50px;   
    border-radius: 25px;
    width: 95%;
    margin: 0 auto;
    @media screen and (max-width: 1440px){
        padding:56px 20px;  
        gap: 30px;     
    }
    @media screen and (max-width: 767px){  
        width: 100%;
        padding: 0px 19px;
        gap:19px;
        background-color: $color-primary;
    }
}